/*needs max/min width for entire content*/

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Open Sans', sans-serif;
}

*, *:after,*:before {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  color: #fff;
  font-weight: 100;
  position: relative;
}

p {
  color: #fff;
  position: relative;
  left: 50px;
  font-weight: 100;
  text-shadow: 1px 1px black;
}

span {
  font-size: 1.5em;
  font-weight: 800;
}

nav {
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}

nav ul {
  padding: 20px 20px;
}

nav ul li {
  display: inline;
  padding: 13px 20px 10px 20px;
  border: 1px solid #000;
  transition:1.3s;
}

nav ul li:hover {
  border: 1px solid #3A7600;
  transition: 1.3s;
}

nav ul li a:hover {
  color: #3A7600;
  transition: .7s;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  transition: .7s;
}

.route-tracker {
  width: 80%;
  padding-bottom: 2px;
  border-bottom: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: #000;
  margin: auto;
}

.route-tracker-container {
  max-width: 600px;
  height: auto;
  margin: 0px auto;
  padding: 20px;
  transition: 1s;
  transition-delay: 2s;
}

.route-tracker-container:hover {
  padding-bottom: 200px;
  transition: 2s;
  transition-delay: .3s;
}

.story-button {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #fff;
  position: relative;
  float: left;
  margin: 40px;
}

/*images need to keep aspect ratio when resizing viewport for different media devies*/
.route-tracker img {
  width: 150%;
  position:absolute;
  opacity: 0.4;
}

/*dot for animation*/
.marker {
  width: 70px;
  height: 70px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  border-radius: 50%;
}


#auckland {
  margin-top:73px;
}


#auck-anim::before {
  content: "";
  width: 70px;
  height:70px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 85px;
  transform: translate(-50%, -50%);
  transition:.5s;
  visibility: hidden;
}

#auck-anim:hover::before {
  visibility: visible;
  height: 100px;
  width:100px;
}

/*white bullet animation*/
.route-tracker-container::before {
  content: "";
  width:15px;
  height:50px;
  background-color: #fff;
  position: absolute;
  top: -50%;
  transform: translateY(-50%);
  left:77px;
  border-radius: 7.5px;
  visibility: hidden;
}

/*white bullet animation*/
.route-tracker-container:hover::before {
  top: 50%;
  visibility: visible;
  transition: 1s;
}

.inline-link {
  text-decoration: none;
  font-weight: 700;
  color: grey;
}
